#loadingWrap {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5em;
}

#controlsWrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 1em;
}

#coordinates {
	margin: 0 0 1em 0;
}

.errorIcon {
	color: var(--red-color);
}

#submitButtonsWrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 1.5em;
}

#submitButtonsWrap button {
	outline: none;
	border: none;
	border-radius: 0.7em;
	padding: 0.6em 1.5em;
	margin: 0;
	cursor: pointer;
	font-size: 1.2em;
	transition: transform 0.1s;
}

#cancelButton {
	background-color: var(--dark-gray-color);
	color: var(--white-color);
}

#submitButton {
	background-color: var(--blue-color);
	color: var(--white-color);
}

#submitButtonsWrap button:hover {
	transform: scale(1.04);
}

#submitButtonsWrap button:active {
	transform: scale(0.97);
}
