.route {
	padding-left: 1.5em;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 0.6em;
	margin: 0.7em 0;
}

.route h4 {
	font-size: 1.25em;
	margin: 0;
}

.route p {
	margin: 0;
}

.checkBox {
	padding: 0;
	margin: 0;
	border: 1px solid var(--dark-gray-color);
	padding: none;
	width: 1.5em;
	height: 1.5em;
	border-radius: 0.35em;
	background-color: var(--gray-color);
	cursor: pointer;
}

.checked {
	background-color: var(--blue-color);
}

.checkMark {
	display: none;
	color: var(--white-color);
}

.checked .checkMark {
	display: block;
}
