#loadingWrap {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5em;
}

#errorWrap {
	display: block;
}

#errorWrap > h2 {
	margin-bottom: 0.5em;
}

#cardsWrap {
	display: grid;
	gap: 3em;
	grid-template-columns: repeat(auto-fit, 350px);
	justify-content: center;
	align-content: flex-start;
}
