.arrival {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5em;
	margin: 0.4em 0;
	width: 100%;
}

.arrivalTime {
	font-weight: bold;
	font-size: 1.1em;
	text-align: left;
	min-width: 3.4em;
	width: auto;
	max-width: max-content;
	margin: 0;
	display: block;
}

.smallText {
	font-size: 0.9em;
}

.arrivalDestination {
	font-size: 1.1em;
	margin: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
