.arrival {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5em;
	margin: 0.4em 0;
	width: 100%;
}

.arrivalTime {
	font-weight: bold;
	font-size: 1.1em;
	text-align: left;
	flex-basis: 3.4em;
	margin: 0;
	display: block;
}

.smallText {
	font-size: 0.9em;
}

.arrivalDestination {
	font-size: 1.1em;
	margin: 0;
	flex-grow: 1;
	min-width: 0;
}
