.displayCard {
	border-radius: 20px;
	width: 350px;
	display: block;
	overflow: hidden;
}

.header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	gap: 0.6em;
	background-color: var(--blue-color);
	color: var(--white-color);
	padding: 0.8em 0.9em;
}

.titleWrap {
	flex-grow: 1;
}

.titleWrap > h3 {
	font-size: 1.5em;
	margin: 0;
}
.titleWrap > p {
	font-size: 1em;
	margin: 0;
	line-height: 1.2em;
}

.collapseIcon {
	font-size: 1.5em;
	cursor: pointer;
	transition: transform 0.3s;
}

.rotated {
	transform: rotate(-180deg);
}

.contentWrap {
}
