#filtersPanel {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: nowrap;
	gap: 1.4em;
	margin-bottom: 20px;
}

#filtersPanel > h4 {
	font-size: 1.3em;
	margin: 0;
}
