:root {
	--white-color: #fbfbfb;
	--light-gray-color: #f1f1f1;
	--gray-color: #d1d1d1;
	--dark-gray-color: #929292;
	--black-color: #121212;
	--blue-color: #084c8d;
}

body {
	background-color: var(--light-gray-color);
	color: var(--black-color);
	font-size: 1rem;
	margin: 0;
	padding: 0;
	position: relative;
	min-height: 100vh;
	width: 100%;
	scrollbar-color: var(--blue-color);
	scrollbar-width: thin;
}
